{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <title> Main Page </title>
</head>
<body>
    <div class="row">
        <div class="col-sm-6">
            <img src="{% static 'images/logo.jpg' %}" alt="W3 schools Image">
        </div>
        <!-- <div class="col-sm-4 offset-sm-2 text-right text-bottom"> Today the world is full of tech.</div> -->
    <!-- <h4 class="text-right"> Today the World is full of tech. </h4> -->
    </div>
    {% include 'navbarpart/navbar.html' %}
    {% block body %}

    {% endblock %}
</body>
</html>