<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Index Page</title>
</head>
<body style="background-color: grey;">
    <h1><marquee behavior="" direction="left" style="background-color: khaki; color: magenta;"> Welcome to the Index Page. </marquee></h1>
    <!-- Lists -->
    <div style="color: White;">
        <h2> Programming Languages </h2>
        <ul>
            <li>Python</li>
            <li>Javascript</li>
            <li>HTML5 and CSS3</li>
            <li>JAVA</li>
        </ul>
        <h2> Frameworks </h2>
        <ol>
            <li>Django</li>
            <li>ReactJS</li>
            <li>Bootstrap</li>
            <li>Android Studio</li>
        </ol>
    </div>
    <h3 style="color: greenyellow;"><center> Have a good day. </center></h3>
</body>
</html>