<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Message Page</title>
</head>
<body>
    <form action="{% url 'message' %}" method="POST">
        {% csrf_token %}
        <h1 >Email Sending </h1>
        To Mail : <br> <input type="email" name="email"><br><br>
        Subject : <br> <input type="text" name="subject"><br><br>
        Message : <br> <input type="text" name="message"><br><br>
        <br><input type="submit" name="submit">
    </form>
</body>
</html>